h2 {
	margin: 0;
}

:root {
	--base: #ffc600;
	--spacing: 10px;
	--blur: 10px;
}

.variables__img {
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));
}

.h1 {
	color: var(--base);
}

.variables {
	background: #193549;
	color: #fff;
	font-family: 'helvetica neue', sans-serif;
	font-weight: 100;
	font-size: 50px;
}

.controls {
	margin-bottom: 50px;
}

.variables__link {
	color: var(--base);
	text-decoration: none;
}

.variables__input {
	// width: 100%;
}