extends ../_template-js

block variables
	- var title = 'Home Page'

block content
	section.index
		a.index__link(href="drums.html") drums
		a.index__link(href="clock.html") clocks
		a.index__link(href="variables.html") variables