extends ../_template-js

block variables
	- var title = 'Home Page'

block content
	section.index
		h1.heading
		.triggers
			a.trigger.trigger1(href="#") One
			a.trigger.trigger2(href="#") Two
			a.trigger.trigger3(href="#") Three
			a.trigger.trigger4(href="#") Four
		a.index__link(href="drums.html") drums
		a.index__link(href="clock.html") clocks
		a.index__link(href="variables.html") variables
		a.index__link(href="cardio.html") cardio
		a.index__link(href="canvas.html") canvas
		a.index__link(href="ajax.html") ajax
		a.index__link(href="checkboxList.html") checkboxList
		a.index__link(href="player.html") player